<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd 
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
   xmlns:beans="http://www.springframework.org/schema/beans" xmlns="http://www.springframework.org/schema/security">


<http auto-config="true">
<intercept-url access="hasAnyRole('ROLE_ADMIN','ROLE_USER')" pattern="/WelcomePage"/>
<form-login password-parameter="password" username-parameter="username" authentication-failure-url="/LoginFailed"
 default-target-url="/WelcomePage" login-page="/Login" login-processing-url="/j_spring_security_check"/>
<logout logout-success-url="/"/>

<csrf/>
</http>
<authentication-manager>
<authentication-provider>
<jdbc-user-service authorities-by-username-query="select username, role from userdetails where username =?" 
users-by-username-query="select username,password from userdetails where username=?" 
data-source-ref="datasource"/>
</authentication-provider>
</authentication-manager>
</beans:beans>